    body {
        background-image: url(https://wallpapercave.com/wp/gfwPusm.jpg);
    }

    .char {
        color: white;
        font-weight: bold;
    }

    .deathstar {
        max-width:30%;
        height:auto;
        padding-bottom: 80px;
    }

    .search {
        color: black;
    }

    .button-search {
        padding-top: 50px;
        padding-left: 400px;
        padding-right: 400px;
        color: white;
        text-align: center;
    }

    .heading {
        color: #FFE81F;
        text-align: center;
        font-size: 18px;
    }