    body {
        background-image: url(https://wallpapercave.com/wp/gfwPusm.jpg);
    }

    .nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .list a {
        color: white;
        font-size: 15px;
    }

    .char {
        color: white;
        font-weight: bold;
    }

    .deathstar {
        max-width:30%;
        height:auto;
        padding-bottom: 80px;
    }

    .search {
        color: black;
    }

    .button-search {
        padding-top: 50px;
        padding-left: 400px;
        padding-right: 400px;
        color: white;
        text-align: center;
    }

    .heading {
        padding-top: 20px;
        color: #FFE81F;
        text-align: center;
        font-size: 18px;
    }